<%= render "panda_cms/shared/header", html_class: "h-full bg-white" %>
  <div class="flex h-full" id="panda-container">
    <div class="absolute top-0 w-full lg:flex lg:fixed lg:inset-y-0 lg:z-50 lg:flex-col lg:w-72">
      <div class="flex overflow-y-auto flex-col gap-y-5 px-4 pb-4 max-h-16 bg-gradient-to-br lg:max-h-full grow from-dark to-mid" data-transition-enter="transition-all ease-in-out duration-300" data-transition-enter-from="m-h-16" data-transition-enter-to="max-h-full" data-transition-leave="transition-all ease-in-out duration-300" data-transition-leave-from="max-h-full" data-transition-leave-to="max-h-16">
        <%= render partial: "panda_cms/admin/shared/sidebar" %>
      </div>
    </div>

    <div class="flex flex-col flex-1 mt-16 ml-0 lg:mt-0 lg:ml-72" id="panda-inner-container" <% if content_for :sidebar %> data-controller="toggle" data-action="keydown.esc->modal#close" tabindex="-1"<% end %>>
      <section id="panda-main" class="flex flex-row h-full">
        <div class="flex-1 h-full" id="panda-cms-primary-content">
          <%= render "panda_cms/admin/shared/breadcrumbs" %>
          <%= yield %>
        </div>

        <% if content_for :sidebar %>
          <div data-toggle-target="toggleable" class="flex hidden absolute right-0 flex-col h-full bg-white divide-y divide-gray-200 shadow-xl basis-3/12"
            data-transition-enter="transform transition ease-in-out duration-500"
            data-transition-enter-from="translate-x-full"
            data-transition-enter-to="translate-x-0"
            data-transition-leave="transform transition ease-in-out duration-500"
            data-transition-leave-from="translate-x-full"
            data-transition-leave-to="translate-x-0"
            id="slideover">
            <div class="overflow-y-auto flex-1 h-0">
              <div class="py-3 px-4 mb-4 bg-black">
                <div class="flex justify-between items-center">
                  <h2 class="text-base font-semibold leading-6 text-white" id="slideover-title"><i class="mr-2 fa-light fa-gear"></i> <%= yield :sidebar_title %> </h2>
                  <a href="#" data-action="click->toggle#toggle touch->toggle#toggle"><i class="font-bold text-white fa-regular fa-xmark right"></i></a>
                </div>
              </div>
              <div class="flex flex-col flex-1 justify-between">
                <div class="px-4 space-y-6">
                  <%= yield :sidebar %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </section>

    </div>
  </div>
<%= render "panda_cms/shared/footer" %>
