<!DOCTYPE html>
<html data-theme="default" class="<%= html_class ||= "" %>">
  <head>
    <title><%= title_tag %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7835d81e75.js" crossorigin="anonymous"></script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "panda_cms", "data-turbo-track": "reload", media: "all" %>
    <%= render "panda_cms/shared/importmap" %>
    <%#= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= render "panda_cms/shared/favicons" %>
    <%= yield :head %>
  </head>
  <body class="overflow-hidden h-full">
    <%= render "panda_cms/admin/shared/flash" %>
