<!DOCTYPE html>
<html data-theme="default" class="<%= html_class ||= "" %>">
<head>
  <title>Panda CMS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/7835d81e75.js" crossorigin="anonymous"></script>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "panda_cms", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags "panda_cms/base" %>
  <%= render "panda_cms/shared/favicons" %>
</head>

<body class="overflow-hidden h-full">
  <%= render "panda_cms/admin/shared/flash" %>
