<nav class="flex flex-col flex-1">
  <ul role="list" class="flex flex-col flex-1">
    <a class="block p-0 mt-4 mb-4 ml-2 text-xl font-medium text-white"><%= Panda::CMS.config.title %></a>
    <% [
      { path: admin_dashboard_path, text: "Dashboard", icon: "fa-house", matcher: :exact },
      { path: admin_pages_path, text: "Pages", icon: "fa-page", matcher: :starts_with },
      { path: admin_posts_path, text: "Posts", icon: "fa-notebook", matcher: :starts_with },
      { path: admin_forms_path, text: "Forms", icon: "fa-cabinet-filing", matcher: :starts_with },
      { path: admin_menus_path, text: "Menus", icon: "fa-list-dropdown", matcher: :starts_with },
      { path: admin_settings_path, text: "Settings", icon: "fa-cog", matcher: :starts_with },
    ].each do |link| %>
      <li>
        <%= link_to link[:path], class: "#{active_link?(link[:path], match: link[:matcher]) ? selected_nav_highlight_colour_classes(request) : nav_highlight_colour_classes(request)}" do %>
          <span class="text-center"><i class="fa-regular <%= link[:icon] %> text-xl fa-fw"></i></span>
          <span class="mt-1"><%= link[:text] %></span>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= button_to admin_logout_path, method: :delete, id: "logout-link", data: { turbo: false }, class: nav_highlight_colour_classes(request) + " w-full" do %>
        <span class="text-center"><i class="text-xl fa-regular fa-door-open fa-fw"></i></span>
        <span class="mt-1">Logout</span>
      <% end %>
    </li>
    <li class="mt-auto">
      <%= button_to '#', data: { turbo: false }, class: nav_highlight_colour_classes(request) + " w-full" do %>
        <% if !current_user.image_url.to_s.empty? %>
          <span class="text-center"><img src="<%= current_user.image_url %>" class="w-auto h-7 rounded-full"></span>
        <% else %>
          <span class="text-center"><i class="text-xl fa-regular fa-circle-user fa-fw"></i></span>
        <% end %>
        <span class="mt-0.5"><%= current_user.firstname %> <%= current_user.lastname %></span>
      <% end %>
    </li>
    <li class="">
      <img src="/panda-cms-assets/panda-nav.png" class="inline py-2 mr-1 ml-0.5 w-auto h-14">
      <span class="text-xs text-white">v<%= Panda::CMS::VERSION %> | <span class="font-semibold">License:</span> Perpetual</span>
      <a class="absolute right-0 mt-4 mr-5 text-lg text-white lg:hidden" href="#" data-action="click->panda-cms-menu#toggle touch->panda-cms-menu#toggle"><i class="mr-2 text-white fa-sharp fa-solid fa-bars"></i> Menu</a>
    </li>
  </ul>
</nav>
