<% if @editable %>
  <input id="trix_<%= @options[:id] %>" value="<%= @content %>" type="hidden" name="trix_<%= @options[:id] %>" data-editor-block-content-id="<%= @options[:data][:block_content_id] %>" data-editable-kind="<%= @options[:data][:mode] %>">
  <trix-editor input="trix_<%= @options[:id] %>" class="panda-cms-content"></trix-editor>
<% else %>
  <div class="panda-cms-content"><%= @content %></div>
<% end %>
