<nav class="<%= styles[:container] %>">
  <ul role="list" class="p-0 m-0">
    <% if @show_heading %>
      <li>
        <a href="<%= menu_item.page.path %>" class="<%= menu_item.page == Panda::CMS::Current.page ? styles[:current_page_active] : styles[:current_page_inactive] %>">
          <%= menu_item.text %>
        </a>
      </li>
    <% end %>
    <ul>
      <% Panda::CMS::MenuItem.includes(:page).each_with_level(menu_item.descendants) do |submenu_item, level| %>
        <% next if Panda::CMS::Current.page == menu_item.page && level > 1 # If we're on the "top" menu item, only show its direct ancestors %>
        <% next if submenu_item.page&.path[/\:/] %>
        <% next if submenu_item.page&.depth > Panda::CMS::Current.page&.depth && !Panda::CMS::Current.page&.in?(submenu_item.page.ancestors) %>
        <li data-level="<%= level %>" data-page-id="<%= submenu_item.page.id %>" class="<%= submenu_item.page == Panda::CMS::Current.page ? @styles[:active] : @styles[:inactive] %>">
          <a href="<%= submenu_item.page&.path %>" class="<%= helpers.menu_indent(submenu_item, indent_with: @styles[:indent_with]) %>"><%= submenu_item.page&.title %></a>
        </li>
      <% end %>
    </ul>
  </ul>
</nav>
