<%= render PandaCms::Admin::ContainerComponent.new do |component| %>
  <% component.with_heading(text: "Bulk Editor", level: 1) %>

  <% if @debug && @debug[:error].any? %>
  <div class="p-4 mb-4 bg-red-50 rounded-md">
    <div class="flex">
      <div class="flex-shrink-0">
        <i class="text-xl text-red-600 fa-sharp-duotone fa-solid fa-circle-exclamation"></i>
      </div>
      <div class="ml-3">
        <h3 class="text-base font-medium text-red-700">Errors:</h3>
        <div class="mt-2 text-sm text-red-700">
          <ul role="list" class="pl-5 list-disc">
            <% @debug[:error].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if @debug && @debug[:warning].any? %>
  <div class="p-4 mb-4 bg-yellow-50 rounded-md">
    <div class="flex">
      <div class="flex-shrink-0">
        <i class="text-xl text-yellow-600 fa-duotone fa-solid fa-triangle-exclamation"></i>
      </div>
      <div class="ml-3">
        <h3 class="text-base font-medium text-yellow-700">Warnings:</h3>
        <div class="mt-2 text-sm text-yellow-700">
          <ul role="list" class="pl-5 list-disc">
            <% @debug[:warning].each do |warning| %>
              <li><%= warning %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if @debug && @debug[:success].any? %>
  <div class="p-4 mb-4 bg-green-50 rounded-md">
    <div class="flex">
      <div class="flex-shrink-0">
        <i class="text-xl text-green-600 fa-duotone fa-solid fa-circle-check"></i>
      </div>
      <div class="ml-3">
        <h3 class="text-base font-medium text-green-700">Updates:</h3>
        <div class="mt-2 text-sm text-green-700">
          <ul role="list" class="pl-5 list-disc">
            <% @debug[:success].each do |success| %>
              <li><%= success %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= panda_cms_form_with method: :post do |form| %>
    <%= form.text_area :site_content, value: @json_data, cols: 70, rows: 10, class: "block font-mono w-full" %>
    <%= form.button "Update" %>
  <% end %>
<% end %>
